
<div>
  <h2>Books List</h2>
</div>
<div>
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date</th>

                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of books">
                    <th scope="row">{{book.bookingId}}</th>
                    <td>{{book.name}}</td>
                    <td>{{book.mobile}}</td>
                    <td>{{book.email}}</td>
                    <th scope="col">{{book.bookedDate | date:'yyyy-MM-dd'}}</th>
                  </tr>
                  <tr>

                </tbody>
              </table>
</div>
