<p>
  book-details works!
</p>
<div>
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>

                
              </tr>
            </thead>
            <tbody>
              <tr >
                <th scope="row">{{book.book.bookingId}}</th>
                <td>{{book.book.name}}</td>
                <td>{{book.book.mobile}}</td>
                <td>{{book.book.email}}</td>
                <th scope="col">{{book.bookedDate | date:'yyyy-MM-dd'}}</th>
              </tr>
              <tr>

            </tbody>
          </table>
</div>
